@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#menu {
  background-color: #333;
}

#menu ul {
  list-style: none;
  display: flex;
  padding: 10px;
  justify-content: left;
  flex-wrap: wrap;
}

#menu li {
  margin: 0 15px;
}

#menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#menu a:hover {
  text-decoration: underline;
}

h2 {
  padding: 20px;
}

#contenido {
  display: flex;
  gap: 100px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: left;
  background-color: #fcfcfc;
  flex: 1;
}

#contenido1 {
    display: flex;
    gap: 10vh;
    padding: 20px;
    height: 40vh;
    background-color: #fcfcfc;
}

#contenido2 {
    display: flex;
    gap: 10vh;
    padding: 20px;
    height: 40vh;
    background-color: #fcfcfc;
}


#contenido > div {
  max-width: 200px;
  text-align: left;
}

#foto_libro {
  height: 200px;
  object-fit: cover;
}

#pie {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

#pie a {
  color: #9acd32;
  text-decoration: none;
}

#pie a:hover {
  text-decoration: underline;
}

.Fav-card-button.Fav {
  background-color: red;
  cursor: pointer;
}

.Fav-card-button {
  background-color: #9acd32;
  cursor: pointer;
}